*{
    padding: 0;
    margin: 0;
}
body{
    background-color:black;
    color: rgb(167, 70, 70);
    font-family:fantasy;
    font-weight: 600;
    
}
header{
    display: flex;
    justify-content: center;
}

header h1{
    font-weight: 600;
    letter-spacing: .5rem;
    padding: 1rem;
    text-shadow: 1px 1px 1px white;
}

.Play-box{
    background-color: rgba(275, 275, 275, .15);
    width: 30%;
    height: 45vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 65vh;
    /* display: none; */
}

.btn{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    background-color:rgb(167, 70, 70);
    color: white;
    cursor: pointer;
}

.Play-box h1{
    text-align: center;
    font-weight: 200;
    color:rgb(187, 157, 157);
    word-spacing: 3px;
    letter-spacing: 1px;
}

#mykit{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
    /* flex-direction: column; */
    
    
    
}

.kit{
    width: 8%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    font-size: 2rem;
    color: black;
    text-align: center;
    
}

.w{
    background-image: url("images/tom1.png");
    background-size:8rem;
    background-repeat: no-repeat;
    
}
.a{
    background-image: url("images/tom2.png");
    background-size:8rem;
    background-repeat: no-repeat;
}
.s{
    background-image: url("images/tom3.png");
    background-size:7rem;
    background-repeat: no-repeat;
}
.d{
    background-image: url("images/tom4.png");
    background-size:7rem;
    background-repeat: no-repeat;
}
.l{
    background-image: url("images/snare.png");
    background-size:8rem;
    background-repeat: no-repeat;
}
.k{
    background-image: url("images/crash.png");
    background-size:8rem;
    background-repeat: no-repeat;
}
.j{
    background-image: url("images/kick.png");
    background-size:7.3rem;
    background-repeat: no-repeat;
}

@media screen and (max-width : 600px) {
    #mykit{
        flex-direction: column;
        align-items: center;
        justify-content: center;
       margin-top: 15rem;
        
    }
    .kit{
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 10px;
        font-size: 2rem;
        color: black;
        text-align: center;
        padding: 20px 0px;
        margin-top: 10px;
    }
    
}

